# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# DB
*.db
*.sqlite
*.sqlite3

# Test artifacts
allure-results/
allure-report/
.pytest_cache/
.hypothesis/

# Env
.env

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db